header {
    width:200px;
    nav ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    nav ul li {
        margin: 0;
    }

    nav ul li a {
        color: #444;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
