.about {
    display: flex;
    align-items: center;
    padding: 20px;

    &__content {
        p {
            font-size: 16px;
            line-height: 1.5;
            color:#444;
            text-align: justify;
            margin-top: 20px;
        }
    }
}
